@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Titillium+Web:wght@200&display=swap");
* {
  font-family: "Titillium Web", sans-serif;
}
a {
  text-decoration: none;
}
.nav-link:hover {
  border-bottom: 1px solid white;
}
.online {
  padding: 50px;
  font-size: 50px;
  color: black;
  text-align: center;
}
.forgot:hover {
  color: black;
  text-decoration: underline 1px;
}
.register:hover {
  color: black;
  text-decoration: underline 2px;
}
.cart-page {
  margin: 80px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.productsss {
  width: 50px;
}
